<!DOCTYPE html>
<html>
<head>

<!-- your webpage info goes here -->

    <title>Home Page</title>
	
	<meta name="author" content="IOT" />
	<meta name="description" content="" />

<!-- you should always add your stylesheet (css) in the head tag so that it starts loading before the page html is being displayed -->	
	<link rel="stylesheet" href="./css/style1.css" type="text/css" />
	
</head>
<body>

<!-- webpage content goes here in the body -->

	<div id="page">
		<div id="logo">
			<h1><a href="/" id="C:\NewProject\spa-latest\public\images\images_016">Data Logger Home Page</a></h1>
		</div>
		<div id="nav">
			<ul>
				<li><a href="#/home.html">Home</a></li>
				<li><a href="#/about.html">About</a></li>
				<li><a href="#/contact.html">Contact</a></li>
			</ul>	
		</div>
		<div id="content">
			<h2>Home</h2>
			<fieldset>
  <legend>Departments:</legend>
 
 <dl>
  <dt><a href>INTERNET OF THINGS</a></dt>
  <dd>-  The Internet of things (IoT) is the inter-networking of physical devices, vehicles (also referred to as 
"connected devices" and "smart devices"), buildings, and other items embedded with electronics, software, 
sensors, actuators, and network connectivity which enable these objects to collect and exchange data.
</dd>
  <dt><a href>BIG DATA</a></dt>
  <dd>- Big data is a term for data sets that are so large or complex that traditional data processing application
	   software is inadequate to deal with them. Challenges include capture, storage, analysis, data curation, 
	   search, sharing, transfer, visualization, querying, updating and information privacy</dd>
</dl> 
			<p>
				
			</p>
			<p> 
				 
			</p>
			
			</fieldset>
		</div>
		<div id="footer">
			<p>
				Webpage made by <a href="/" target="_blank">[Sumit Mishra]</a>
			</p>
		</div>
	</div>
</body>
</html>