
<div style="text-align:center;background-color:gray">
</div>
 <title>Login Page</title>
 <div class="form-container" style="width:50%;margin:25%;margin-top:1cm">
    <h2>Login</h2>
        <div class="form-group" >
          <form id="form_id" method="post" name="myform">
            <label for="username">Username<span style="color: red;">*</span></label>
            <input type="text" name="username" id="username"  class="form-control" />
        </div>
        <div class="form-group" >
            <label for="password">Password<span style="color: red;">*</span></label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>
        
            <button type="submit" class="btn btn-primary" onclick="validate()">Login</button>
            <!-- <input type="button" value="Login" id="submit" onclick="validate()"/> -->
            <button type="reset" class="btn btn-warning" value="Reset">Reset</button>
            
            </form>
            <div class="form-group">
              <div id="error_message" style="display: none;">
                 <label style="color: red;"> Please Input Username and Password.</label>
              </div>
            </div>
</div>

<!--<div class="container">
<div class="main">
<h2>Javascript Login Form Validation</h2>
<form id="form_id" method="post" name="myform">
<label>User Name :</label>
<input type="text" name="username" id="username"/>
<label>Password :</label>
<input type="password" name="password" id="password"/>
<input type="button" value="Login" id="submit" onclick="validate()"/>
</form>-->
 

<!--
 

  <div class="container">
    <label><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <input type="checkbox" checked="checked"> Remember me
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>-->