<!--======= Head =================================================================================================================-->
<head>

<div style="text-align:center;background-color:gray">

</div>
 
	<title>User Registration</title>
	<!--<link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />-->
</head>

<body>
<form class="form-overall">
	<div class="form-group">
		<label for="firstname">Enter Employee's First Name:</label>
		<input type="text" id="firstname" class="form-control" ng-model="fname" placeholder="Ex: Jhon">
	</div>
	<div class="form-group">
		<label for="lastname">Enter Employee's Last Name:</label>
		<input type="text" id="lastname" class="form-control" ng-model="lname" placeholder="Ex: Doe">
	</div>
	<div class="form-group">
		<label for="dname">Enter Employee's Department:</label>
		<select name="dept" ng-model="dname" id="dname" class="dept_overall">  
		<option selected="" value="Default">(Please select a Department)</option>  
		<option value="IOT">IOT</option>  
		<option value="Big Data">Big Data</option>  
		<option value="MARS">MARS</option>  
		<option value="NSM">NSM</option>  
	</select>
		
	</div>
	<div class="form-group">
		<label for="mob_no">Enter Employee's Primary Contact:</label>
		<input type="number" id="mob_no" class="form-control" ng-model="mobileno"><!--Need to add validation for mobilenumber-->
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary" ng-click="register()">Submit</button>
	</div>
	<div class="form-group">
		<label for="person_search">Search For an Employee</label>
		<input type="text" id="person_search" class="form-control" ng-model="fn"><br>
		<button type="submit" class="btn btn-warning" ng-click="delete()">Delete</button>
	</div>
	<div class="form-group">
		<label>Show Data</label>
		<button type="submit" class="btn btn-primary" ng-click="showdata()">Show</button>
	</div>
</form>
<div class="well">
<table class="table table-hover table-overall" ng-style="{ 'display' : display }">
    <thead>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Department</th>
        <th>Mobile Number</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="i in data">
        <td> {{i.Fname}}</td>
		<td> {{i.Lname}}</td>
		<td> {{i.Dname}}</td>
		<td> {{i.MobileNumber}}</td>
      </tr>
    </tbody>
  </table>
  </div>
</body>





