<!--======= Head ============================================================================================================================================================-->
<head>

<div style="text-align:center;background-color:gray">
<div style="width:50%;margin-top:10 px"></div>
</div>
 
	<title>User Registration</title>
	<link rel="stylesheet" type="text/css" href="../css/style.css" media="all" />
</head>

<body>
<br>
<br><h1 style="text-align:center;color:white">Registration Page</h1>
	<table>
	<!--Need to convert this form into pretty format-->
		<form class="form-group">
			<tr><td><input type="text" placeholder="Enter First Name" ng-model="fname"></input></td></tr>
			<tr><td><input type="text" placeholder="Enter Last Name" ng-model="lname"></input></td></tr>
			<tr><td><input type="text" placeholder="Enter Department" ng-model="dname"></input></td></tr>
			<tr><td><input type="number" placeholder="Enter Mobile Number"ng-model="mobileno"></input></td></tr>
			<tr><td><input type="submit" value="Register" ng-click="register()"></input></td></tr>
		</form>
	</table>

	<table>
		<form>
			<tr><td><input type="text" placeholder="Enter First Name" ng-model="fn"></input></td></tr>
			<tr><td><input type="submit" value="Delete" ng-click="delete()"></input></td></tr>
		</form>
	</table>


	<table>
		<form>
			<tr><td><input type="submit" value="Show Data" ng-click="showdata()"></input></td></tr>
		</form>
	</table>


	<table>
		<tr>
			<th>First Name</th>
			<th>Last Name</th>
			<th>Department Name</th>
			<th>Mobile Number</th>
		</tr>
		<tr ng-repeat="i in data">
			<td> {{i.Fname}}</td>
			<td> {{i.Lname}}</td>
			<td> {{i.Dname}}</td>
			<td> {{i.MobileNumber}}</td>
		</tr>
	</table>

</body>





